{% extends "layout/basic.html" %}

{% block title %}Удалить запись{% endblock %}

{% block nav %}
    <button><a href="{% url 'auth_index' %}">Главная</a></button>
    <button> <a href="/logout/">Выйти</a></button>
{% endblock %}

{% block content %}
  <h1>Вы уверены, что хотите удалить запись?</h1>
  <form method="post">
    {% csrf_token %}
    <p>
      Заводской номер машины: {{ object }}
    </p>
    <input type="submit" value="Удалить">
    <a href="{% url 'auth_index' %}">Отмена</a>
  </form>
{% endblock %}