{% extends "layout/basic.html" %}

{% block content %}
<h1>Таблица с данными</h1>
<table>
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ vehicle.vehicle_serial_number}}</td>
            <td>{{ vehicle.vehicle_model|truncatechars:12 }}</td>
            <td>{{ vehicle.vehicle_shipping_date|date:"d.m.Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}