{% block content %}
<table id="reclamation-table">
  <thead>
    <tr>
        <th>reclamation_date</th>
        <th>from vehicle model serial</th>
        <th>reclamation_engine_hours</th>
        <th>reclamation_malfunction</th>
        <th>reclamation_malfunction_description</th>
        <th>reclamation_repair_type</th>
        <th>reclamation_replacement_parts</th>
        <th>reclamation_repair_date</th>
        <th>reclamation_idle_time</th>
        <th>reclamation_vehicle</th>
        <th>reclamation_service_provider</th>
    </tr>
  </thead>
  <tbody>
    {% for reclamation in reclamations %}
      <tr>
        <td>{{ reclamation.reclamation_date }}</td>
        <td>{{ reclamation.vehicle.vehicle_serial_number }} {{ service.vehicle.vehicle_model }}</td>
        <td>{{ reclamation.reclamation_engine_hours }}</td>
        <td>{{ reclamation.reclamation_malfunction }}</td>
        <td>{{ reclamation.reclamation_malfunction_description }}</td>
        <td>{{ reclamation.reclamation_repair_type }}</td>
        <td>{{ reclamation.reclamation_replacement_parts }}</td>
        <td>{{ reclamation.reclamation_repair_date }}</td>
        <td>{{ reclamation.reclamation_idle_time }}</td>
        <td>{{ reclamation.reclamation_vehicle }}</td>
        <td>{{ reclamation.reclamation_service_provider }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}