{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Электронная сервисная книжка "Мой Силант"{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
    href="{% static 'service_portal/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'service_portal/favicon.ico' %}">
</head>
<body>
    <nav>
        <img src="{% static 'service_portal/logo.svg' %}" alt="Logo" class="logo">
        <a href="https://t.me/chzsa21">
          <img src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/svgs/brands/telegram-plane.svg" height="32" width="32">
        </a>
        {% block nav %}
        <button><a href="{% url 'index' %}">Главная</a></button>
        {% endblock %}
    </nav>
    <header>
        <h3>Электронная сервисная книжка "Мой Силант"</h3>
    </header>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>