{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Электронная сервисная книжка "Мой Силант"{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
    href="{% static 'service_portal/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
</head>
<body>
<!--    <nav>-->
<!--        <button><a href="{% url 'index' %}">Главная</a></button>-->
<!--        <button><a href="{% url 'create' %}">Добавить запись</a></button>-->
<!--        <button><a href="{% url 'login' %}">Авторизация</a></button>-->
<!--        <button> <a href="/logout/">Выйти</a></button>-->
<!--    </nav>-->
    <nav>
        {% block nav %}
        <button><a href="{% url 'index' %}">Главная</a></button>
        {% endblock %}
    </nav>
    <header>
        <h3>Электронная сервисная книжка "Мой Силант"</h3>
    </header>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>