{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Электронная сервисная книжка "Мой Силант"{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
    href="{% static 'service_portal/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>

</head>
<body>
    <header>
        <h1>Электронная сервисная книжка "Мой Силант"</h1>
    </header>
    <nav>
      <a href="{% url 'index' %}">Главная</a>
      <a href="{% url 'create' %}">Добавить запись</a>
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>