header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 767px) {
  header {
    width: 100%;
    text-align: center;
  }
}


/*header h1 {*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*    color: red;*/
/*}*/

h1 {
    text-align: center;
}

th {
    padding: 10px;
}
td {
    border-bottom: 1px solid #eee;
    padding: 10px;
}


.row1 {
    color: black;
    background-color: darkgray;
}

.row2 {
    color: darkblue;
    background-color: lightgray;

}

.input-group {
  display: flex;
  align-items: center;
}

button {
    padding: 1px;
}